body{
    padding:0px;
    margin:0px;
}
h2{
    margin-top:10px;
}
.row{
    margin:auto
}
.LANDSAT{
    display:none;
}
.slider{
    width:420px;
}
#images{
    display: inline
}
.options{
    float:right;
}